{% extends 'base.html' %} {% load static %} {% block categories %}

<!-- Categories Section Begin -->
<section style="padding-top: 80px" class="categories">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div
          class="categories__item categories__large__item set-bg"
          data-setbg="{% static 'img/categories/category-11.jpg' %}"
        >
          <div class="categories__text">
            <h1>For Both</h1>
            <p>
              Sitamet, consectetur adipiscing elit, sed do eiusmod tempor
              incidid-unt labore edolore magna aliquapendisse ultrices gravida.
            </p>
            <a style="text-decoration: none" href="common">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div
              class="categories__item set-bg"
              data-setbg="{% static 'img/categories/category-12.jpg' %}"
            >
              <div class="categories__text">
                <h4>Boy’s fashion</h4>
                <!-- <p>358 items</p> -->
                <a style="text-decoration: none" href="boy">Shop now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div
              class="categories__item set-bg"
              data-setbg="{% static 'img/categories/category-13.jpg' %}"
            >
              <div class="categories__text">
                <h4>Girl’s fashion</h4>
                <!-- <p>273 items</p> -->
                <a style="text-decoration: none" href="girl">Shop now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div
              class="categories__item set-bg"
              data-setbg="{% static 'img/categories/category-14.jpg' %}"
            >
              <div class="categories__text">
                <h4>SHOES</h4>
                <!-- <p>159 items</p> -->
                <a style="text-decoration: none" href="spec/shoes">Shop now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div
              class="categories__item set-bg"
              data-setbg="{% static 'img/categories/category-15.jpg' %}"
            >
              <div class="categories__text">
                <h4>Accessories</h4>
                <!-- <p>792 items</p> -->
                <a style="text-decoration: none" href="spec/accessories">Shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->

{% endblock categories %} {% block popularbrands %}
<section class="product spad">
  <div style="margin-left: 10%" class="section-title">
    <h4>Popular Brands</h4>
  </div>
  <!-- Instagram Begin -->
  <div class="instagram">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        {% for i in a1 %}
        <div class="col-lg-2 col-md-4 col-sm-4 p-0">
          <div class="instagram__item set-bg" data-setbg="{{ i.profilephoto.url }}">
            <div class="instagram__text">
              <!-- <i class="fa fa-instagram"></i> -->
              <a href="specific/{{i.id}}">{{i.name}}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Instagram End -->
</section>
{% endblock popularbrands %} {% block banner %}
<!-- Banner Section Begin -->
<section
  class="banner set-bg"
  data-setbg="{% static 'img/banner/banner-1.jpg' %}"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-8 m-auto">
        <div class="banner__slider owl-carousel">
          <div class="banner__item">
            <div class="banner__text">
              <span>New Offers</span>
              <h1>30% off on</h1>
              <span style="font-size: 50px">NIKE</span><br />
              <a style="text-decoration: none" href="specific/{{1}}">Shop now</a>
            </div>
          </div>
          <div class="banner__item">
            <div class="banner__text">
              <span>New Offers</span>
              <h1>45% off on</h1>
              <span style="font-size: 50px">adidas</span><br />
              <a style="text-decoration: none" href="specific/{{3}}">Shop now</a>
            </div>
          </div>
          <div class="banner__item">
            <div class="banner__text">
              <span>New Offers</span>
              <h1>50% off on</h1>
              <span style="font-size: 50px">Puma</span><br />
              <a style="text-decoration: none" href="specific/{{2}}">Shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->
{% endblock banner %} {% block product %}
<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="section-title">
          <h4>Products</h4>
        </div>
      </div>
    </div>
    <div class="row property__gallery">
      {% for j in c1 %}
      <div class="col-lg-3 col-md-4 col-sm-6 mix men">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="{{ j.productphoto1.url }}"
          >
            <ul class="product__hover">
              <li>
                <a href="../product/{{j.id}}" 
                  ><span class="arrow_expand"></span
                ></a>
              </li>
              <li>
                {% if j.id in y %}
                  <a style="background-color:#ca1515 ;" href="../wishlistremove/{{j.id}}"><span  class="icon_heart_alt"></span></a>
                {% else %}
                    <a href="../wishlistadd/{{ j.id }}"><span class="icon_heart_alt"></span></a>
                {% endif %}
              </li>
              <li>
                <a href="../product/{{j.id}}"><span class="icon_bag_alt"></span></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>
              <a href="../product/{{j.id}}" style="text-decoration: none">{{j.productname}}</a>
            </h6>
            <div class="product__price">Rs: {{j.offerprice}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Product Section End -->
{% endblock product %}
